*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/schemas
.vscode

## Changelog.md
app/src/main/res/raw/*
!app/src/main/res/raw/keep.xml
