*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.vscode

# Ignore app secret config
**/secret.properties

## Changelog.md
app/src/main/res/raw/*
!app/src/main/res/raw/keep.xml
# Firebase project configuration (local/variant-specific)
app/google-services.json
