# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Output bundles
dist/
editor-bundle.js
*.map

# System files
.DS_Store
Thumbs.db

# VSCode / IDE
.vscode/
.idea/

# Logs
*.log

./dist
